shorted-list works!
<div id="posted-jobs" class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <!-- ['CTC', 'EXP', 'name', 'workat']-->
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="workat">
          <th mat-header-cell *matHeaderCellDef> work at </th>
          <td mat-cell *matCellDef="let element"> {{element.workat}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="EXP">
          <th mat-header-cell *matHeaderCellDef>EXP</th>
          <td mat-cell *matCellDef="let element"> {{element.EXP}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="CTC">
          <th mat-header-cell *matHeaderCellDef> CTC </th>
          <td mat-cell *matCellDef="let element"> {{element.CTC}} </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>