.header {
    height: 2rem;
    color: black;
    padding: 0 25px;
    border-bottom: solid 0.5px grey;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.inline-block {
    display: inline;
}